<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <p>Number of participants:  
    <%= select_tag('participantAmount',options_from_collection_for_select(1..10, :to_s, :to_s))%>
  </p>

  <script id="inputTemplate" type="text/html">
    <%= select_tag('tournament[tournament_stats_attributes][][user_id]',options_from_collection_for_select(@users, :id, :username)) %>
    <%= select_tag('tournament[tournament_stats_attributes][][team_id]',options_from_collection_for_select(@teams, :id, :name))%>
    <br>
  </script>
  
  <div class= "field" id="participantInputs"></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
