
<h2>
	<%= @player.name %>
	<footer># <%= @player.number %></footer>
</h2>
<p>
	Plays for
	<% @player.teams.each do |t| %>
		<li><%= t.name %></li>
	<% end %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
